:root {
    --fondo: #21232a;
    --blanco: #FFF;

    --fuente: "Bebas Neue", sans-serif;;      
}

/* html, body{
    background-color: var(--fondo);
    color: var(--blanco);
    font-size: 1.2rem;
} */

span {
    font-size: 15px;
    background-color: var(--fondo);
    color: var(--blanco);
    border-radius: 4px;
}
header {
     display: flex;
     height: 50px;
     justify-content: center;
}
footer {
    background-color: var(--fondo);
    width: 100%;
    height: 30px;
    color: var(--fondo);
}
.none {
    text-decoration: none;
}
.fondo {
    background-color: var(--fondo);
    color: var(--blanco);
    border-radius: 10px;
}